<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <br><br><br>
  <div class="container-fluid">
    <hr class="border"><br><br>
      <div class="container-fluid">
        <input type="text" class="col-md-2 p-2 rounded border" placeholder="Reply Template Name">  <br><br>
      <textarea name="" id="" class="col-md-7 rounded border" rows="6" placeholder="Message"></textarea><br><br>
       <button type="submit"class="btn btn-primary col-1 text-bold">Save Reply</button>
      </div>
  </div>

</body>
</html>